.App {
  text-align: center;

}
.App li {
  list-style: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Autocomplete {
  margin: auto;
  margin-top: 1em;
  font-size: 2em;
  border: 2px lightcoral solid;
  border-radius: 10px;
  padding: 2em;
}
.Autocomplete-display{
  margin: 3em;
}
.Autocomplete-display button{
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: 2px lightcoral solid;


}